<%- include("./partials/header.ejs", {title: article.title}) %>

<h1><%= article.title %></h1>
<p><%= article.description %></p>
<p><%= article.author %>   <%= article.publishedAt%></p>
<img src="<%= article.urlToImage %>" alt=""> 
<br>
<a href="http://"><%= article.url %></a>


<%- include("./partials/footer.ejs") %>